/*body--------------------------------------------------------------------*/
@import url('https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,100..900;1,100..900&display=swap');

body {
    font-family: sans-serif;
    background: #f8f0e3;
}

/*headaer--------------------------------------------------------------------*/
header {
    background: #f8f0e3;
    padding: 30px 0;
}

nav li {
    display: inline;
    margin: 0 0 0 15px;
}

nav a {
    color: #8B5E3C;
    font-weight: bold;
    font-size: 22px;
    text-decoration: none;
}

nav {
    position: absolute;
    top: 80px;
    right: 0;
}

nav a:hover {
    color: #4A7C59;
    text-decoration: underline;
}

.caixa {
    width: 940px;
    position: relative;
    margin: 0 auto;
    
}

.logo {
    display: block;
    max-width: 180px;
    height: auto;
}

/*footer--------------------------------------------------------------------*/
footer {
    padding: 40px 0;
    text-align: center;
    background: url('../imagens-geral/bg-footer.jpg');
    background-size: cover;

}

.copyright {
    color: #2B2B2B;
    margin: 20px 0 0 0;
    font-size: 13px;
    font-weight: bold;
}